.player{
    background:linear-gradient(to right,pink,rgb(0, 217, 255)) ;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    box-shadow: 0 0 5px white;
    border:solid 2px rgba(255, 255, 255, 0.425);
}
.player .profile{
    width: 150px;
    height: 150px;
    border:solid rgba(0, 0, 0, 0.582);
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}

.player .profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.player .profile .n{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    font-size: 100px;
    font-weight: bold;
    color: #ffffffe5;
}
.player .name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-size: 25px;
    text-shadow: #00f7ff 1px 0 10px;
    color: white;
}
.player .score{
    width: 100%;
    background: rgba(0, 0, 0, 0.336);
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    color: white;
}
.player .score h1{
    font-size: 30px;
}
.player .score span{
    font-size: 30px;
    font-weight: bolder;
}